# Build and Release Folders
cmake-build-debug/
cmake-build-release/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
build/
bigbird_pcds/datasets/
bigbird_pcds/datasets_raw/

# Other files and folders
.settings/
.vscode/
.idea/

*.pwf
*.pt
*.pb
*.h5
*.weights

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
